/* Placeholder while MDI loads */
.mdi:before{
    content: "★"
}

#current{
    font-size: 1.25em;
}

#soon-15, #soon-hour, #eventually{
    font-size: 1.25em;
}

.openlist{
    color: lightgreen;
}

.soonlist{
    color: KHAKI;
}
.laterlist{
    color: lightsalmon;
}
.closedlist{
    color: salmon;
}

p.openlist, p.soonlist, p.laterlist, p.closedlist{
    display: table;
}

.github-corner{
    color: whitesmoke;
    fill:#2f2f2f; 
}

a, a:visited{
    text-decoration-style: dotted;
    color: whitesmoke;
    transition: text-decoration-color .2s;
    text-decoration-line: underline;
    cursor:pointer;
    white-space: nowrap;
}

a:hover{
    text-decoration-color: transparent;
}

body{
    color: WHITESMOKE;
    font-family: 'Orkney Medium', sans-serif;
    background-color: #1f1f1f;
    align-items: center; 
    display: flex;        
    -ms-flex-pack: center;    
    flex-direction: column;
    -ms-flex-direction: row;     
    height: 100%;
    font-size: 24pt;
    margin: 0;
}

h1 {
    font-family: 'Orkney Medium Italic';
    font-size: 4rem;
    margin: 0;
    padding: 0;
    padding-top: 1.5rem;
}

.title{
    margin-right: 50px;
    margin-left: 50px;
}

p {
    margin: .5em;
    margin-left: auto;
    margin-right: auto;
}

.wrapper{
    padding-top: 50px;
    width: 90%;
    max-width: 1280px;
    transition: opacity .4s;    
    margin: auto; 
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    transform: translate(0, 0);
    pointer-events: visible;
    z-index: 1;
}

.wrapper.hidden{
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5);
    transform: scale(0.5) translate(0, var(--offset));
}

.wrapper.y-animated{
    --exp: cubic-bezier(0.2, 0.2, .2, 1.1);
    --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity .4s, transform .4s cubic-bezier(0.2, 0.2, .2, 1.1), visibility .4s;
    transition: opacity .4s, transform .4s var(--exp), visibility .4s;
}

.view h1{ 
    text-align: center;
}

.view{          
    padding: 50px;    
    display: flex;    
    flex-direction: column;
    background-color: rgba(47, 47, 47, 0.85);
    border-radius: 25px;
    height: 100%;
    position: relative;    
    padding-bottom: 25px;      
}

.close{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nMjBweCcgaGVpZ2h0PScyMHB4JyB2aWV3Qm94PScwIDAgMjAgMjAnIHpvb21BbmRQYW49J2Rpc2FibGUnPjxzdHlsZT5saW5lIHsgc3Ryb2tlOiAjZmZmZmZmOyBzdHJva2Utd2lkdGg6IDE7IH08L3N0eWxlPjxsaW5lIHgxPScyJyB5MT0nMicgeDI9JzE4JyB5Mj0nMTgnIC8+PGxpbmUgeDE9JzE4JyB5MT0nMicgeDI9JzInIHkyPScxOCcgLz48L3N2Zz4=");
    right: 20px;
    top: 20px;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-size: 30px;
    padding: 10px;
    background-position-x: 15px;
    background-position-y: 15px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    position: absolute;
    cursor: pointer;
    transition: background-color .4s;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
}

.close:hover{
    background-color: #3f3f3f;
}
.close:active{
    background-color: grey;
}

.tier {
    left: 20px;
    top: 10px;
    height: 50px;
    padding: 10px;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    font-size: .9em;
    user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#tier-main{
    font-size: 36pt;
    display: inline-block;
    transition: transform .5s ease-in-out;        
}

#tier-shake{
    transition: transform .1s ease-in-out;
    display: inline-block;
}

#tier-extra i{
    font-size: 28pt;
}

#tier-extra, #tier-container{
    padding-top: .15em;
    float: right;
    position: relative;    
    overflow: hidden;      
    transition: left .5s ease-in-out;
}

#tier-container{
    margin-left: 1rem;
}

#list{    
    opacity: 1;
    transition: opacity .4s;
    margin: 8px;
    padding-left: 8px;
}

#list.hidden{
    opacity: 0.2;
    pointer-events: none;	
    filter: blur(3px);
}

.capitalized{
    text-transform: capitalize;
}